<!DOCTYPE HTML>
html(class='no-js')
  head
    include ./include/head.jade
  body
    form(id="", method="", action="")
      .form-test.form-test-1.form-group
          label 姓名
          input.numbersonly(id="name" type="text" name="name" valid="name").form-control 
      .form-test.form-test-2.form-group
          label 電話
          input(type="text" name="tel" valid="phone").form-control 
      .form-test.form-test-3.form-group
          label 地址
          input(type="text" name="address" valid="address").form-control 
      .form-test.form-test-4.form-group
        button.btn.btn-default.btn-submit submit
        
